<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.lewagon.com/api/v1/cities/barcelona/cover?width=1200);">
  <div class="container">
    <h1>ChatSpace brings <strong>messaging</strong> to <strong>the world</strong>!</h1>
    <p>Chat with your friends and colleagues</p>
    <div>
    <% if user_signed_in? %>
      <%= link_to "Launch ChatSpace !", channel_path(:id => Channel.first.name), class: "btn btn-login" %>
      <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "btn btn-ghost" %>
    <% else %>
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "btn btn-login" %>
      <%= link_to t(".sign_up", default: "Join ChatSpace!"), new_user_registration_path, class: "btn btn-ghost" %>
    <% end %>
    </div>
  </div>
</div>

