.btn-login {
  color: white;
  box-shadow: 0 1px 2px rgba(0,0,0,0.07);
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: #22007c;
  transition: background 0.3s ease;
  border: 1px solid #22007c;
}

.btn-login:hover {
  text-decoration: none;
  color: white;
}

.btn-ghost {
  color: white;
  border: 1px solid #22007c;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
  background: #22007c;
  box-shadow: 0 1px 2px rgba(0,0,0,0.07);
  color: white;
}

